/* work sans font from google fonts */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,400;1,700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap");
/* ==========================================================================
   Shared styles
   ========================================================================== */
* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  padding: 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  background: #ff900e;
  border: 0;
}
/* ==========================================================================
   header styles
   ========================================================================== */

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  color: #131313;
  font-size: 2.8125rem;
  font-weight: 700;
}
nav > div {
  display: flex;
}
li {
  list-style: none;
}
nav li a {
  text-decoration: none;
  color: #424242;
  font-size: 1.125rem;
  font-weight: 500;
  margin-right: 3rem;
}
/* ==========================================================================
   banner styles
   ========================================================================== */
.banner {
  align-items: center;
}
.banner-container {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}
.banner-description {
  color: #727272;
}
.banner-img {
  width: 100%;
  margin-top: 20px;
}
/* ==========================================================================
   Responsive Media Queries
   ========================================================================== */

/* for small screen */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav {
    flex-direction: column;
  }
  nav li a {
    margin-right: 3.5rem;
  }
  nav > div {
    margin: 0 auto;
  }
}

/* for medium source */

@media screen and (min-width: 576px) and (max-width: 992px) {
  header {
    padding: 50px;
  }
  nav {
    flex-direction: column;
  }
  nav li a {
    margin-right: 3.5rem;
  }
  nav > div {
    margin: 0 auto;
  }
}
